<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Detail</title>
</head>
<body>
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    <!--创建一个POST表单（它具有修改数据的作用），所以我们需要小心跨站点请求伪造。 -->
    <!--谢天谢地，你不必太过担心，因为Django已经拥有一个用来防御它的非常容易使用的系统。 -->
    <!--简而言之，所有针对内部URL的POST表单都应该使用{% csrf_token %}模板标签。-->
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
    {% endfor %}
    <input type="submit" value="Vote"/>
</form>
</body>
</html>