<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
        <!--移除模板中硬编码的URLs-->
        <!--工作原理是在polls.urls模块里查找指定的URL的定义-->
        <!--如果你想把polls应用中detail视图的URL改成其它样子比如 polls/specifics/12/，-->
        <!--就可以不必在该模板（或者多个模板）中修改它，只需要修改 polls/urls.py：-->
        <!--url(r'^specifics/(?P<question_id>[0-9]+)/$', views.detail, name='detail'),-->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>